body {

    background-image: url("images/bbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url('images/vclicker.png'), auto;

    background-size: cover;
    color: white;
    font-family: verdana
}
nav {
    background-color: #231a17;
    display: flex
}
section.menu {
    background: #231a17;
    padding: 4px
}
img {
   display: flex 
}
h1 {
    color: #e5b099;
    font-family: verdana;
    font-size: 45px;
    -webkit-text-stroke: 1px;
    font-weight: 750;
    text-align: center
}
p {
    display: flex;
    padding: 25px;
    padding-top: 0px;
    color: #b48977;
    font-family: verdana;
    font-size: 25px;
}
h2 {
    display: flex;
    padding: 25px;
    padding-bottom: 2px;
    color: #b48977;
    font-family: verdana;
    font-size: 30px;
    font-weight: 1000;
}
a {
    color: blue;
    font-family: verdana;
    -webkit-text-stroke: .5px #26ffbe;
    font-weight: 1000;
}
section.block1 {
    background: #231a17;
    padding: 4px
}
figure.block2a {
    background: #231a17;
    padding: 0px;
    border: 3px solid #b48977;
}
figure.block2b {
    background: #694a4a;
    padding: 0px;
    border: 3px solid #b48977;
    color: #231a17

}
li {
    display: inline;
    padding-left: 5vw;
}
figcaption {
    color: white;
    font-family: verdana;
    font-size: 17px;
    padding: 30px
}
.cropimg {
    width: 15em;
    height: 9em;
    border-radius: 8px;
    border: 3.5px solid #b48977;

}
.v {
    display: flex;
   padding-bottom: 1px; padding-top: 1px;padding-left: 25px;
    color: #b48977;
    font-family: verdana;
    font-size: 25px;
    flex-direction: column;    }
.gal {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    float: right;
    width: 10em;
    height: 6em;
    border-radius: 8px;
    border: 3.5px solid #b48977;
    object-fit: cover;


}
#navbar { 
    width: 100%; 
    height: auto; /* Maintain aspect ratio */ 
    transition: opacity 1s ease; /* Smooth transition */ 
} 

.resume {padding-bottom: 1px; padding-top: 1px;padding-left: 25px;}
